.colors-light {
    --text-color: #1f1f1f;
    --background-color: #f0f0f0;
    --item-color: #008000;
    --selected-item-color: #10b000;
}

.colors-dark {
    --text-color: #f0f0f0;
    --background-color: #1f1f1f;
    --item-color: #201080;
    --selected-item-color: #4020ff;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

nav,footer {
    width: 100%;
    display: flex;
    background-color: var(--item-color);
}

nav > div,footer > a {
    padding: 16px;
}

nav > div:hover,footer > a:hover {
    background-color: var(--selected-item-color);
}

#home {
    display: block;
}

#bio {
    display: none;
}

@media (max-width: 600px) {
    #bio {
        flex-direction: column;
    }
}

#bio > * {
    padding: 16px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.drop-items {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    padding: 8px;
}

.drop-items * {
    display: block;
}

.drop-menu > *:hover {
    background-color: var(--selected-item-color);
}

.drop-menu:hover .drop-items {
    display: block;
    background-color: var(--item-color);
}

.drop-menu:hover .drop-head {
    background-color: var(--selected-item-color);
}

.drop-items div:hover,.drop-items a:hover {
    background-color: var(--selected-item-color);
}

section {
    padding: 16px;
}

.headshot {
    border-radius: 20%;
}