.colors-light {
    --text-color: #1f1f1f;
    --background-color: #f0f0f0;
    --item-color: #004000;
    --selected-item-color: #10a000;
}

.colors-dark {
    --text-color: #f0f0f0;
    --background-color: #1f1f1f;
    --item-color: #201080;
    --selected-item-color: #4020ff;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

nav {
    width: 100%;
    display: flex;
}

nav > div {
    padding: 16px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}